@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "gilroy bold";
    src: url(../Gilroy-FREE/Gilroy-FREE/Gilroy-ExtraBold.otf);
  }
@font-face {
    font-family: "gilroy normal";
    src: url(../Gilroy-FREE/Gilroy-FREE/Gilroy-Light.otf) ;
  }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "gilroy normal";
    color: #fff;
}
html , body{
    height: 100%;
    width: 100%;
    background-color: #000;
}

#tasklist::-webkit-scrollbar{
    display: block;
    /* width: 2px; */
    background-color: transparent;
  
}
#tasklist::-webkit-scrollbar-thumb{
    background-color: #7597c3;
    border-radius: 50px;
}
#tasklist{
    cursor: grab;
}

#alltask::-webkit-scrollbar{
    display: auto;
    width: 0.5rem;
    background-color: transparent;
  
}
#alltask::-webkit-scrollbar-thumb{
    background-color: #7597c3;
    border-radius: 50px;
}